<div class="container">
    <div class="row text-center">
        <img src="./assets/img/logo.png" alt="Logo">
        <h3 class="title">EverSAFE Bid</h3>
        <h2>Sign Up</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Business Name</label>
                <input type="email" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Business Owner Name</label>
                <input type="email" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Business Address</label>
                <input type="email" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-blog">
                <img src="./assets/img/map.png">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Business Owner Email</label>
                <input type="email" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Business Owner Phone</label>
                <input type="email" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Industry Type</label>
                <input type="email" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button class="btn btn-white btn-block" (click)="gotologin()">Sign Up</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>