<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-content">
                    <h6 class="card-title">Bids Open</h6>
                    <img src="./assets/img/Bidding-1.jpg" alt="Bidding images">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-content">
                    <h6 class="card-title">Bids In-Progress</h6>
                    <img src="./assets/img/Bidding-1.jpg" alt="Bidding images">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-content">
                    <h6 class="card-title">Won</h6>
                    <img src="./assets/img/Bidding-1.jpg" alt="Bidding images">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <h6 class="card-title">Win Ratio</h6>
                    <img src="./assets/img/Bidding-2.png" alt="Bidding images">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <h6 class="card-title">Win Ratio</h6>
                    <img src="./assets/img/Bidding-2.png" alt="Bidding images">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <h6 class="card-title">Win Timeline </h6>
                    <img src="./assets/img/Bidding-2.png" alt="Bidding images">
                </div>
            </div>
        </div>
    </div>

</div>